<main class="container container--session">
  <header>
    <h1>Welcome back. <br> Let’s sign in.</h1>
  </header>

  <section>
    <%= form_with(model: @user, url: sign_in_path, local: true) do |f| %>

      <%= f.label :username, "Enter your user name", class: "u-display-b txt--bold" %>
      <%= f.text_field :username, value: flash[:username_hint], required: true, autofocus: true, autocomplete: "username", autocorrect: :off, autocapitalize: :off, class: "input" %>

      <%= f.label :password, "And your password", class: "u-display-b txt--bold" %>
      <%= f.password_field :password, autocomplete: "current-password", required: true, class: "input" %>

      <%= f.submit "Sign in", class: "btn btn--primary push-md--bottom" %>
      <p>If you don't have a account sign up <%= link_to "here", sign_up_path %></p>
    <% end %>
  </section>
</main>
