<main class="container container--session">
  <header>
    <h1>Let’s sign up.</h1>
  </header>

  <section>
    <% if @user.errors.any? %>
      <ul class="list--flush push-md">
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <%= form_with(model: @user, url: sign_up_path) do |f| %>
      <%= f.label :name, "Full Name", class: "u-display-b txt--bold" %>
      <%= f.text_field :name, required: true, autofocus: true, class: "input" %>

      <%= f.label :name, "User Name", class: "u-display-b txt--bold" %>
      <%= f.text_field :username, required: true, class: "input" %>

      <%= f.label :name, "Email", class: "u-display-b txt--bold" %>
      <%= f.email_field :email, required: true, class: "input" %>

      <%= f.label :password, "Password", class: "u-display-b txt--bold" %>
      <%= f.password_field :password, required: true, class: "input" %>

      <%= f.label :password, "Confirmation Password", class: "u-display-b txt--bold" %>
      <%= f.password_field :confirmation_password, required: true, class: "input" %>

      <%= f.submit "Sign up", class: "btn btn--primary" %>
    <% end %>
  </section>
</main>
