<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Clone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="apple-touch-icon" sizes="192x192" href="/favicon-192x192.png">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" >
  </head>

  <body>
    <nav class="navbar">
      <div class="navbar__logo" />
    </nav>

    <%= render "shared/flash" %>
    <%= yield %>
  </body>
</html>
